-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: workify_communication
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `call_signals`
--

DROP TABLE IF EXISTS `call_signals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `call_signals` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `call_id` varchar(255) NOT NULL,
  `call_type` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `from_user_id` bigint NOT NULL,
  `sdp` longtext,
  `to_user_id` bigint NOT NULL,
  `type` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `call_signals`
--

LOCK TABLES `call_signals` WRITE;
/*!40000 ALTER TABLE `call_signals` DISABLE KEYS */;
/*!40000 ALTER TABLE `call_signals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversations`
--

DROP TABLE IF EXISTS `conversations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `archived_at` datetime(6) DEFAULT NULL,
  `blocked_by_id` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `creator_id` bigint NOT NULL,
  `emoji_icon` varchar(255) DEFAULT NULL,
  `is_archived` bit(1) DEFAULT NULL,
  `is_favorite` bit(1) DEFAULT NULL,
  `last_message_at` datetime(6) DEFAULT NULL,
  `priority_level` enum('LOW','MEDIUM','HIGH') DEFAULT NULL,
  `receiver_id` bigint NOT NULL,
  `status` enum('ACTIVE','BLOCKED','ARCHIVED') DEFAULT NULL,
  `theme_color` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversations`
--

LOCK TABLES `conversations` WRITE;
/*!40000 ALTER TABLE `conversations` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` longtext NOT NULL,
  `content_type` enum('TEXT','IMAGE','FILE','VIDEO') DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `delivery_status` enum('SENT','DELIVERED','READ','BLOCKED') DEFAULT NULL,
  `flagged_reason` varchar(255) DEFAULT NULL,
  `is_deleted` bit(1) DEFAULT NULL,
  `is_edited` bit(1) DEFAULT NULL,
  `is_flagged` bit(1) DEFAULT NULL,
  `reaction_emoji` varchar(255) DEFAULT NULL,
  `sender_id` bigint NOT NULL,
  `conversation_id` bigint NOT NULL,
  `violation_number` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKt492th6wsovh1nush5yl5jj8e` (`conversation_id`),
  CONSTRAINT `FKt492th6wsovh1nush5yl5jj8e` FOREIGN KEY (`conversation_id`) REFERENCES `conversations` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_moderation`
--

DROP TABLE IF EXISTS `user_moderation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_moderation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `banned_until` datetime(6) DEFAULT NULL,
  `cached_email` varchar(255) DEFAULT NULL,
  `last_violation_at` datetime(6) DEFAULT NULL,
  `period_violations` int NOT NULL,
  `user_id` bigint NOT NULL,
  `violation_count` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_t02i9leb116fpb7r1ypgty6rr` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_moderation`
--

LOCK TABLES `user_moderation` WRITE;
/*!40000 ALTER TABLE `user_moderation` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_moderation` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-08  9:52:07
